// Color variables

$black:#000000;

$gray1:#696767;
$gray2:#878686;

$black2:#131212;
    
$hover-black:#272424;



$orange:#e17335;
$orange-light:#ec8e58;

$hover-orange:#f69b66;



$white:#ffffff;

$gray3:#24292e;


$font-weight-600:600;