// Theme variables
:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --secondary-bg: #1a1a1a;
    --hover-color: #e17335;

    --hover-color-android-ios:black;

    --shadow-color: rgba(0, 0, 0, 0.1);
    --bg-color-android-ios: #fff;
    --android-ios-colors:black;


    --header-color:#ffff;
    --light-gray:#878686;

    --nav-gray:#fff;


    --dark-background:#131212;

    --svg-gray:#fff;


    
 
    --faq-bg:#232121;


}




[data-theme="light"] {
    --bg-color: #ffffff;
    --bg-color-android-ios: black;
    --android-ios-colors:#ffff;
    --text-color: #000000;
    --secondary-bg: #f5f5f5;
    --hover-color: #e17335;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --header-color:black;
    
    --light-gray:#878686;

    --dark-background:#F4F5F6;


    --svg-gray:#878686;

    --nav-gray:#878686;

    --faq-bg:#e9ebec;
    // --faq-bg:#232121;


}


// Color variables

$black:#000000;

$gray1:#696767;
$gray2:#878686;
$gray3:#a1a1a175;

$black2:#131212;
    
$hover-black:#272424;

$hover-white:#F7F7F7;


$orange:#e17335;

$orange-light:#ec8e58;

$hover-orange:#f69b66;

$selection-orange:#ea9a6c;

$white:#ffffff;

$gray3:#24292e;


$font-weight-600:600;