// Theme variables
:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --secondary-bg: #1a1a1a;
    --hover-color: #e17335;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --icon-gray: rgb(135, 134, 134);
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
    --secondary-bg: #f5f5f5;
    --hover-color: #e17335;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --icon-gray: rgb(135, 134, 134);
}

// Color variables

$black:#000000;

$gray1:#696767;
$gray2:#878686;
$gray3:#a1a1a175;

$black2:#131212;
    
$hover-black:#272424;

$hover-white:#F7F7F7;


$orange:#e17335;

$orange-light:#ec8e58;

$hover-orange:#f69b66;

$selection-orange:#ea9a6c;

$white:#ffffff;

$gray3:#24292e;


$font-weight-600:600;