@use './variables' as vars;
@use '/src/mixins' as *;

body{
    background-color: vars.$black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}   
// Main contnet


.nav-wrapper{
    gap: 0px ;
}

nav{
  @include  align-content-space-between(row,space-between,space-between);
   width: 100%;  
   justify-content: space-evenly;
   margin: 0 auto;
   height: 100px;
   position: absolute;
   top: 50px;
   left: 50%;
   transform:translate(-50%,-50%);
   gap: 0px ;
}


nav.slide-down{
    position: fixed;
    animation: slidedown .4s forwards;
    // gap: 100px;
    height: 100px;
    margin-top: 45px;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1000; 
}
.slide-down{
    gap: 0px;
}

.burger-menu{
    display: none;
}
.close-button{
    display: none;
}






@keyframes slidedown {
    from{
        top: -150px;
    }
    to{
        top: 0;
    }

}

// Logo container
.logo-container{
    width: auto;
    height: auto;
    padding: 5px;
    @include flex-row-center(row,center,center);
}




// Mid navigation 
.nav-container{
    @include flex-row-center(row,center,center);

}

.nav-container{
    // display: none;
    ul{
        list-style: none;
        padding:0;
        @include flex-row-center(row,center,center);
        font-size: 16px;
        color: vars.$white;
        font-weight: vars.$font-weight-600;
        height: 100%;
    }
    ul{
        li{
            padding: 0px 30px;
            @include svg-fill-hover(vars.$white, vars.$orange);
            @include hover-animation(0.1s, ease-in, vars.$orange, pointer);
            @include flex-row-center(row,center,center);
            height: 100%;
        }
        .ct-toggle-dropdown-desktop{
            margin-left: 10px;
        }
        // .sub-menu{
        //     background: vars.$white;
        //     @include flex-row-center(flex,center,center);
        //     border-radius: 15px;
        // }
        // .sub-menu-right{
        //     background: red;
        // }
    }
}
#features-hover{
    @include svg-fill-hover(vars.$white, vars.$orange);
    @include hover-animation(0.1s, ease-in, vars.$orange, pointer);
    color: vars.$white;
    text-decoration: none;
}

#home-page{
    @include svg-fill-hover(vars.$white, vars.$orange);
    @include hover-animation(0.1s, ease-in, vars.$orange, pointer);
    color: vars.$white;
    text-decoration: none;
}

.sub-menu{
    background: vars.$white;
    display: none;
    border-radius: 15px;
    position:fixed;
    top:100px;
    transition: display 0.3s  ease-in-out;
    // max-width: 1200px;
    max-width: 800px;  
    
    justify-content: space-between
}

.visible{
    // visibility: visible ;
    @include flex-row-center(row,center,center);
    justify-content: space-between;
    // justify-content: start;
    gap :0px;
    
}


.sub-menu-right{
    padding: 15px 0 15px 15px;
    width: 50%;
    // width: calc(35% - 0px - 0px)
}
.sub-menu-right ul{
    @include flex-column-center(column,center,center);
    align-items: start
}
.sub-menu-list{
    @include flex-row-center(flex,center,center);
    column-gap: 15px;
    padding: 15px !important;
}

.sub-menu-list-icon{
    .sub-menu-icon-circle{
        border: 2px solid #8786861f;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 14px;
        transition: background-color 0.3s ease;
        
        // background-color: black;
        .sub-menu-icon svg{
            height: 18px !important;
            width: 18px !important;
            min-width: 18px !important;
            margin: 0 !important;
            transition: inherit;
            fill:vars.$orange;
            transition: fill 0.3s ease;
        }
    }

}

.sub-menu-left{
    height: 389px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1;
    width: 50%;
    // width: calc(29.97% - 0px - 0px);
    

}

.sub-menu-left-container{
    height: 100%;
    z-index: 0;
    padding: 30px;
    // background-image: url(https://startersites.io/blocksy/smart-home/wp-content/uploads/2023/12/mega-menu-image.webp);

    border-top-right-radius: 15px;
    @include flex-column-center(column,center,center);
    justify-content: end;
    align-items: start;
    border-bottom-right-radius: 15px;

    height: 100%;

    position: relative;
    margin-bottom: 0;
    padding: 30px;
    isolation: isolate;

}
.sub-menu-left-image-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 20%;
    img{
        object-fit: cover;
        object-position: 50% 50%;
        vertical-align: top;
        display: inline-block;
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
}
.sub-menu-left-container-cover{
    position: absolute;
    top: 0;
    left: 0;
    // width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .64) 16%, transparent 100%);
}
.sub-menu-left-container-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .64) 16%, transparent 100%);
}
.sub-menu-left-header{
    h5{
        margin-top: 0;
        margin-bottom: 30px;
        max-width: 200px;
        font-size: 20px;
    }
}
.sub-menu-left-button {
    button{
        padding: 12px 15px;
        background: #e17335;
        color: #ffffff;
        border: none;
        border-radius: 12px;
        font-weight: 600;
        font-size: 15px;
    }
}

.sub-menu-list-text{
    .sub-menu-list-text-header h6 {
        font-size: 15px;
        margin-bottom: 5px;
        margin-top: 0px;
        color: vars.$black;
}

}
.sub-menu-list-text-description p{
    color: #696767;
    margin-bottom: 0 !important;
    font-size: 14px;
    text-align: left;
    
}
.sub-menu-center{
    padding: 15px 15px 15px 0px;
    width: 50%;
}
.sub-menu-right ul li{
    border-radius: 15px;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: vars.$hover-white;
    }
}

.sub-menu-center ul li{
    border-radius: 15px;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: vars.$hover-white;
        
    }
}

.sub-menu-list{
    &:hover{
        .sub-menu-icon-circle{
            background-color: vars.$orange;
        }
        .sub-menu-icon svg{
            fill: vars.$white;
        }
    }
}



.sub-menu-center ul{
    @include flex-column-center(column,center,center);
    align-items: start;
}

// .sub-menu-list-text-header{}
// Side buttons

.switch{
  color: vars.$white;
  margin-right: 20px;
  @include svg-fill-hover(vars.$white, vars.$orange);
  @include hover-animation(0.1s, ease-in, vars.$orange, pointer);
  svg{
    width: 20px;
    height: 20px
    }
}

.side-buttons-container{
    @include flex-row-center(row,center,center);

}

.button-container{
    @include align-items-center(row,center,center);
    color: vars.$white;
    gap:5px;
    padding: 10px 20px;
    background: vars.$orange;
    border-radius: 10px;
    font-size: 16px;
    font-weight: vars.$font-weight-600;
    @include  hover-background-orange(0.1s,ease-in,vars.$hover-orange,pointer);

}
.download-icon{
    @include flex-row-center(row,center,center);
    fill:vars.$white;
}

// Features display
.features-display{
    @include flex-row-center(row,center,center);
    z-index: -1;
    top: 20;
    width: 100%;
    margin-top: -50px;
    // position: absolute;
    background-size: cover;   
    background-repeat: no-repeat;
    background-image: url(https://startersites.io/blocksy/smart-home/wp-content/uploads/2023/12/services-page-hero-image.webp);
    color: vars.$white;
    font-size: 25px;
    margin-bottom: 80px;
    padding-top: 250px;
    padding-bottom: 180px;
}

// smart-services

.smart-services{
    @include flex-column-center(row,center,center);
    max-width: 90vw;
    margin: 0 auto;
    gap: 15px;
    margin-bottom: 80px;
}
.smart-services-header h2{
    font-weight: 700;
    color: vars.$orange;
    margin-bottom: 10px;
    font-size: 16px;
}

.smart-services-description p{
    font-size: 35px;
    color: vars.$white;
    font-weight: 700 ;
}


.smart-services-right-description{
    margin-bottom: 25px;
    color: vars.$gray2;
}
.smart-services-right-button button{
    background: #e17335;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 15px 23px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2sease;
}

// glow cards


.glowing-row{
    @include flex-row-center(row,center,center);
    max-width: 90vw;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 120px;
}
// .how-it-works-parent-container{
//     margin-bottom: 120px;
//     width: 100%;
//     max-width: 1200px;
// }

// .how-it-works-cards{
//     @include flex-row-center(row,center,center);
//     max-width: 1200px;
//     align-items: stretch;
//     gap: 30px;
//     margin: 0 auto;
//     position: relative;
// }

.glow-card{
    @include flex-column-center(column,center,center);
    align-items: start;
    background-color: vars.$black2;
    border-radius: 15px;
    height: 100%;
    flex: 1 1 30%;
    width: 100%;
    padding: 60px 40px;
    transition: background-color 0.3s ease ,box-shadow 0.3s ease , margin-top 0.3s ease, transform 0.3s ease;
}
.glow-card:hover{
    background-color: vars.$orange;
    box-shadow: 0 40px 140px -10px #e074367d;
    transform: translateY(-10px);
}
.glow-card:hover .glow-card-description{
    color: vars.$white;
}

.glow-card-icon-cont{
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px !important;
    background: vars.$black;
}
// asdasdasd
.glow-card-icon-cont svg{
    margin: 0px !important;
    fill:vars.$white;
    width: 32px !important;
    height: 32px !important ;
}
.glow-card-icon-header h3{
    font-size: 20px;
    text-align: center !important;
    margin-top: 0;
    margin-bottom: 20px;
    color:vars.$white;
}

.glow-card-description{
    text-align: left ;
    color: vars.$gray2;
    margin-bottom: 20px;

}
.glow-card:hover .glow-card-learn-more{
    color: vars.$white;
}
.glow-card-learn-more{
    color: vars.$orange;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.2s ease;
}


// smart solutions


.smart-solutions{
    @include flex-column-center(column,center,center);
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
}
.smart-solutions-top{
    @include flex-row-center(row,center,center);
    gap: 30px;
    justify-content: space-between;
    width: 100%;
    
}
.smart-solutions-texts{
    text-align: center;

}

.smart-solutions-header{
    font-size: 16px;
    color: vars.$orange;
    font-weight: vars.$font-weight-600;
    margin-bottom: 10px;
    h2{
        font-size: 16px;
    }
}

.smart-solutions-text{
    p{
        font-size: 35px;
        color: vars.$white;
        margin-top: 0;
        margin-bottom: 40px;
        font-weight: 700;
    }
}

.smart-solutions-column{
    @include flex-column-center(column,center,center);
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
}

.how-it-works-card-1{
    width: 50%;
    height: auto;
}

.smart-solutions-card-1{
    @include flex-column-center(column,center,center);
    // flex:1;
    padding: 40px;
    background-image: url(https://startersites.io/blocksy/smart-home/wp-content/uploads/2023/12/services-page-gallery-image-1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105%;
    border-radius: 15px;
    height: 300px;
    overflow: hidden;
    transition: background-size 0.3s ease;
    position: relative; 
    // z-index: -1;
    &:hover{
        background-size: 110%
    }
}

.smart-card-text-header h2{
    color: vars.$white;
    max-width: 650px;
    font-size: 25px;
    margin: 0;
    margin-bottom: 30px;
}
.learn-more button{
    display: flex;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 5px;
    padding: 15px 20px;
    background: #e17335;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

.smart-solutiuons-card-2{
    @include flex-column-center(column,center,center);
    padding: 40px;
    background-image: url(https://startersites.io/blocksy/smart-home/wp-content/uploads/2023/12/services-page-gallery-image-2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 300px;
    // width: 100%;/
    flex: 1;
    overflow: hidden;
    transition: background-size 0.3s ease;
    position: relative; 
    // z-index: -1;
    &:hover{
        background-size: 110%
    }
}
.smart-card2-text-header{
    color: vars.$white;
    max-width: 650px;
    font-size: 25px;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 600;
}


.smart-solutions-bottom{
    @include flex-row-center(row,center,center);
    gap: 30px   ;
}

.row-card-1{
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105%;
    border-radius: 15px;
    height: 300px;
    overflow: hidden;
    transition: background-size 0.3sease;
    position: relative;
    padding: 40px;
    @include flex-column-center(column,center,center);
    align-items: start;

    &:nth-child(1){
        background-image:url(https://startersites.io/blocksy/smart-home/wp-content/uploads/2023/12/services-page-gallery-image-3.webp);
    }
    &:nth-child(2){
        background-image: url(https://startersites.io/blocksy/smart-home/wp-content/uploads/2023/12/services-page-gallery-image-4.webp);
    }
    &:nth-child(3){
        background-image: url(https://startersites.io/blocksy/smart-home/wp-content/uploads/2023/12/services-page-gallery-image-5.webp);
    }
}

.simple-steps-row{
    max-width: 90vw;
    @include flex-row-center(row,center,center);
    gap: 50px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.simple-steps-pic{
    background-image: url(https://startersites.io/blocksy/smart-home/wp-content/uploads/2023/12/services-page-steps-section-image.webp);
    width: 615px;
    height: 567px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.simple-steps-information{
    @include flex-column-center(column,center,center);
    align-items: start;
}

.simple-steps-header{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: vars.$orange;
}
.simple-steps-sub-header{
    h2{
        color: vars.$white;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 35px;
    }
}
.simple-steps-description{
    p{
        margin-top: 0;
        margin-bottom: 40px;
        color: vars.$gray2;
    }
}
.simple-steps-column{
    @include flex-column-center(column,center,center);
    gap: 40px;
}
.simple-steps-row1{
    @include flex-row-center(row,center,center);
    gap: 40px;
}
.simple-steps-row2{
    @include flex-row-center(row,center,center);
    gap: 40px;
}

.simple-steps-row1-card{
    @include flex-column-center(column,center,center);
    align-items: start;
}

.simple-steps-row1-numeration{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 1em;
    color: vars.$gray2;
}

.simple-steps-row1-header{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    color: vars.$white;
    font-weight: 600 ;
}
.simple-steps-row1-description{
    color: vars.$gray2;
}


.pricing{
    @include flex-column-center(column,center,center);
    max-width: 90vw;
    margin: 0 auto;
    align-items: start;
}
.pricing-header{
    color: vars.$orange;
    font-weight: 700;
}
.pricing-sub-header{
    margin-top: 0;
    margin-bottom: 40px;
    color: vars.$white;
    font-size: 35px;
    font-weight: 600;
}

.pricing-row{
    @include flex-row-center(row,center,center);
    gap:30px;
}

.pricing-row-1{
    @include flex-column-center(column,center,center);
    align-items: start;
    position: relative;
    padding-top: 140px;
    padding-right: calc(180px + 45px);
    padding-bottom: 140px;
    padding-left: 45px;
    background: vars.$black2;
    border-radius: 15px;


    width: calc(100% + 180px)
}
.pricing-row-information-container{
    @include flex-row-center(row,center,center);
    align-items: start;
    gap: 15px;
    margin-bottom: 30px;
}
.pricing-row-icon{
    height: 20px;
    svg{
        height: 20px !important;
        width: 20px !important;
        min-width: 20px !important;
        margin: 0 !important;
        fill: vars.$white;
    }
}


.pricing-row-header h3{
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  color: vars.$white;
}

.pricing-row-description{
    font-size: 15px;
    color: vars.$gray2;
}

.pricing-row-2{
    @include flex-column-center(column,center,center);
    padding: 70px 45px;
    background: vars.$orange;
    border-radius: 15px;
}

.pricing-row2-icon-circle{
    margin-bottom: 30px !important;
    background-color: #000;
    padding: 20px;
    border-radius: 50%;
    svg{
        height: 32px !important;
        width: 32px !important;
        min-width: 32px !important;
        margin: 0 !important;
        fill: vars.$white;
    }
}
.pricing-row2-header{
    font-size: 25px;
    text-align: center !important;
    color: #fff;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
}

.actual-price{
    font-size: 18px;
    text-align: center !important;
    font-weight: 600 !important;
    margin-bottom: 30px !important;
    color: vars.$white
}

.pricing-row2-features{
    @include flex-row-center(row,center,center);
    // position: relative;
    font-weight: 600 !important;
    color: #fff;
    margin-bottom: 12px;
    ul{
        list-style-type: none;
        margin-bottom: 30px;
    }
}
.pricing-row2-features-row{
    @include flex-row-center(row,center,center);
}

.pricing-row2-features-icon{
    fill: vars.$white;
    svg{
        height: 18px !important;
        width: 18px !important;
        min-width: 18px !important;
        margin: 0px !important;
    }
}
.actual-feature{
    font-weight: 600 !important;
    color:vars.$white;
    margin-left: 15px;
}
// .pricing-row2-features-row{
//     margin-bottom: 12px;
// }
.pricing-row2-button{
    button{
        box-sizing: border-box;
        background-color: #000;
        width: 100%;
        padding: 10px 23px;
        border:none;
        border-radius: 10px;
        color: vars.$white;
        font-size: 16px;
        font-weight: 600;
    }
}